table{
    border-collapse: collapse;
}
table td{
    font-size: 12px;
    border: solid 3px blue;
}
table .tdtitle{
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    background-color: blue;
}

table .td1{
    width:250px;
    height: 250px;
}
table .td2{
    width: 100px;
}
table .td3{
    width:200px;
}
